xml/iaax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="gabrielaraujo.com/iaax/schema.xsd"
           xmlns:iaax="gabrielaraujo.com/iaax/schema.xsd"
           xmlns:aws="gabrielaraujo.com/iaax/aws/schema.xsd"
           elementFormDefault="qualified">

    <xs:import namespace="gabrielaraujo.com/iaax/aws/schema.xsd" s/>

    <xs:element name="infrastructure">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="provider">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="source" type="xs:string" />
                            <xs:element name="version" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element ref="aws:vpc" maxOccurs="unbounded" />

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>